In [1]:
import pandas as pd
import numpy as np

# 출력할 최대 열 수 설정
pd.set_option('display.max_columns', None)

# 출력할 최대 행 수 설정
pd.set_option('display.max_rows', None)

# Master Table

---

## 코드A

`tc_codea_코드A.csv`

- 전체 여행로그 DB에 사용되는 코드명세에 사용되는 코드들을 정리해둔 파일
- 데이터활용 가이드라인에 명시된 `TC_CODEA` 라는 테이블이 여기에 해당

![](https://i.imgur.com/dzddglv.png)
![](https://i.imgur.com/sL9c8rp.png)

In [2]:
TC_CODEA = pd.read_csv(
    'data/travel_log/TL_csv/tc_codea_코드A.csv', encoding='utf-8')

display(TC_CODEA.info())

TC_CODEA

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   idx          30 non-null     int64
 1   cd_nm        30 non-null     object
 2   cd_a         30 non-null     object
 3   cd_memo      3 non-null      object
 4   cd_memo2     0 non-null      float64
 5   del_flag     30 non-null     object
 6   order_num    30 non-null     int64
 7   perm_write   30 non-null     object
 8   perm_edit    30 non-null     object
 9   perm_delete  30 non-null     object
 10  ins_dt       30 non-null     object
 11  edit_dt      0 non-null      float64
dtypes: float64(2), int64(2), object(8)
memory usage: 2.9+ KB

None

,idx,cd_nm,cd_a,cd_memo,cd_memo2,del_flag,order_num,perm_write,perm_edit,perm_delete,ins_dt,edit_dt
0,5,여행상태,STA,NaN,NaN,N,999,N,N,N,2022-07-05 10:33:02.000,NaN
1,6,방문지유형코드,VIS,NaN,NaN,N,999,N,N,N,2022-07-05 10:45:53.000,NaN
2,7,주요 이동수단,MOV,NaN,NaN,N,999,N,N,N,2022-07-05 10:48:39.000,NaN
3,8,재방문여부,REV,NaN,NaN,N,999,N,N,N,2022-07-05 11:27:33.000,NaN
4,9,방문선택이유,REN,NaN,NaN,N,999,N,N,N,2022-07-05 11:28:18.000,NaN
5,10,숙소유형,HTY,NaN,NaN,N,999,N,N,N,2022-07-05 11:31:20.000,NaN
6,11,방문활동,ACT,NaN,NaN,N,999,N,N,N,2022-07-05 11:34:24.000,NaN
7,12,취식 지출 여부,EXP,NaN,NaN,N,999,N,N,N,2022-07-05 11:50:35.000,NaN
8,13,결제 방식,PAY,NaN,NaN,N,999,N,N,N,2022-07-05 11:51:27.000,NaN
9,14,전반적 만족도 점수,DGS,NaN,NaN,N,999,N,N,N,2022-07-05 11:55:48.000,NaN
10,15,재방문 의향 점수,REP,NaN,NaN,N,999,N,N,N,2022-07-05 11:56:55.000,NaN
11,16,추천의향 점수,REC,NaN,NaN,N,999,N,N,N,2022-07-05 11:58:20.000,NaN
12,17,메타데이터 진행상태,MET,NaN,NaN,N,999,N,N,N,2022-07-05 12:00:59.000,NaN
13,18,여행종류,TTY,NaN,NaN,N,999,N,N,N,2022-07-07 09:11:04.000,NaN
14,19,미션,MIS,"여행테이블 여행목적, 여행미션에서 사용",NaN,N,999,N,N,N,2022-07-27 16:26:46.000,NaN
15,20,최종학력,EDU,NaN,NaN,N,999,N,N,N,2022-09-22 17:34:50.000,NaN
16,21,최종학력이수여부,EFS,NaN,NaN,N,999,N,N,N,2022-09-22 17:34:50.000,NaN
17,22,혼인상태,MAR,NaN,NaN,N,999,N,N,N,2022-09-22 17:34:50.000,NaN
18,23,직업,JOB,NaN,NaN,N,999,N,N,N,2022-09-22 17:34:50.000,NaN
19,24,직업기타,JOE,NaN,NaN,N,999,N,N,N,2022-09-22 17:34:50.000,NaN
20,25,소득,INC,"본인소득, 가구소득",NaN,N,999,N,N,N,2022-09-22 17:34:50.000,NaN
21,26,여행빈도_기간,TTM,NaN,NaN,N,999,N,N,N,2022-09-22 17:34:50.000,NaN
22,27,여행스타일,TSY,NaN,NaN,N,999,N,N,N,2022-09-22 17:34:50.000,NaN
23,28,여행동기,TMT,NaN,NaN,N,999,N,N,N,2022-09-22 17:34:50.000,NaN
24,29,여행동반자관계,TCR,NaN,NaN,N,999,N,N,N,2022-09-22 17:34:50.000,NaN
25,30,성별,GEN,NaN,NaN,N,999,N,N,N,2022-09-22 17:34:50.000,NaN
26,31,동반자연령대,AGE,NaN,NaN,N,999,N,N,N,2022-09-22 17:34:50.000,NaN
27,32,동반자동반상황,CST,NaN,NaN,N,999,N,N,N,2022-09-22 17:34:50.000,NaN
28,33,입장료구분,AMS,체험/입장및 관람활동 구분,NaN,N,999,N,N,N,2022-11-11 13:48:15.000,NaN
29,34,여행권역,TAR,NaN,NaN,N,999,N,N,N,2022-12-01 15:42:15.000,NaN

- 각 코드의 의미를 보면 활동 구분을 `cd_a`로 하고 있으며, 각 코드의 의미는 `cd_nm`에서 설명하고 있음을 알 수 있음

In [3]:
def print_cd_info(code):
    """
    특정 코드 값에 대한 정보를 출력하는 함수
    """
    global TC_CODEA  # 전역 변수로 선언

    if code.lower() != 'exit':
        # 코드 값에 해당하는 행 선택
        selected_row = TC_CODEA[TC_CODEA['cd_a'] == code]

        # 해당 코드 값에 대한 정보 출력
        if not selected_row.empty:
            code_name = selected_row['cd_nm'].iloc[0]  # cd_nm 컬럼 값
            memo = selected_row['cd_memo'].iloc[0]  # cd_memo 행 값

            print(f"코드: {code}")
            print(f"코드명: {code_name}")
            print(f"메모: {memo}")
        else:
            print(f"코드 '{code}'에 대한 정보가 없습니다.")

In [4]:
code = 'STA'
print_cd_info(code)

코드: STA
코드명: 여행상태
메모: nan

---

## 코드B

`tc_codeb_코드B.csv`

- 전체 여행로그 DB에 사용되는 코드명세에 사용되는 코드들을 정리해둔 파일
- 데이터활용 가이드라인에 명시된 `TC_CODEB` 라는 테이블이 여기에 해당

![](https://i.imgur.com/0fGyhvn.png)
![](https://i.imgur.com/CCzIF7e.png)

In [5]:
TC_CODEB = pd.read_csv(
    'data/travel_log/TL_csv/tc_codeb_코드B.csv', encoding='utf-8')


display(TC_CODEB.info())

TC_CODEB.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   idx        237 non-null    int64
 1   cd_nm      237 non-null    object
 2   cd_a       237 non-null    object
 3   cd_b       237 non-null    object
 4   cd_memo    2 non-null      object
 5   cd_memo2   0 non-null      float64
 6   del_flag   237 non-null    object
 7   order_num  237 non-null    int64
 8   ins_dt     237 non-null    object
 9   edit_dt    4 non-null      object
dtypes: float64(1), int64(2), object(7)
memory usage: 18.6+ KB

None

,idx,cd_nm,cd_a,cd_b,cd_memo,cd_memo2,del_flag,order_num,ins_dt,edit_dt
0,992,최초 로그인,STA,11,NaN,NaN,N,999,2022-07-05 10:37:07.000,NaN
1,993,테스트 사진 업로드,STA,12,NaN,NaN,N,999,2022-07-05 10:40:24.000,NaN
2,994,예정여행지변경신청,STA,13,NaN,NaN,N,999,2022-07-05 10:44:25.000,NaN
3,995,예정여행지변경승인,STA,14,NaN,NaN,N,999,2022-07-05 10:44:32.000,NaN
4,996,여행 중,STA,20,NaN,NaN,N,999,2022-07-05 10:44:38.000,NaN

- `code_a` 에서 정의한 각 코드에 연결된 코드들을 정리해둔 일종의 테이블 명세서
- `cd_a`를 통해 `code_a` 의 어떤 코드 하위에 있는 코드인지 알 수 있고, `cd_b` 컬럼을 통해 각 `cd_nm`의 고유 코드를 알 수 있다.
- 두 데이터프레임을 합쳐서 `cd_a`를 기준으로 어떤 값을 나타내기 위한 코드인지 확인하기 쉽게 가공

### CODE_A + CODE_B

In [6]:
# 코드_a의 cd_nm을 'code_nm_a'로 이름을 변경하여 복사
code_a_copy = TC_CODEA.rename(
    columns={'cd_nm': 'code_nm_a', 'cd_memo': 'cd_memo_a'}).copy()

# 코드_b의 cd_nm을 'code_nm_b'로 이름을 변경하여 복사
code_b_copy = TC_CODEB.rename(
    columns={'cd_nm': 'code_nm_b', 'cd_memo': 'cd_memo_b'}).copy()

# 코드_a와 코드_b 데이터프레임을 cd_a를 기준으로 병합
merged_df = pd.merge(code_b_copy, code_a_copy, on='cd_a', how='left')

# 코드 값에 따라 cd_nm_a, cd_nm_b, cd_a, cd_b를 그룹바이하여 출력하는 작업
basic_code = merged_df.groupby('cd_a').apply(
    lambda x: x[['cd_b', 'code_nm_a', 'code_nm_b']].reset_index(drop=True))
# 결과 출력
basic_code

        cd_b   code_nm_a                         code_nm_b
cd_a
ACT  0     1        방문활동                                취식
     1     2        방문활동                           쇼핑 / 구매
     2     3        방문활동                   체험 활동 / 입장 및 관람
     3     4        방문활동                   단순 구경 / 산책 / 걷기
     4     5        방문활동                                휴식
     5     6        방문활동                             기타 활동
     6     7        방문활동                             환승/경유
     7    99        방문활동                                없음
AGE  0     1      동반자연령대                             ~9세이하
     1     2      동반자연령대                               10대
     2     3      동반자연령대                               20대
     3     4      동반자연령대                               30대
     4     5      동반자연령대                               40대
     5     6      동반자연령대                               50대
     6     7      동반자연령대                               60대
     7     8      동반자연령대                             70세이상
AMS  0     1       입장료구분                                체험
     1     2       입장료구분                           입장 및 관람
CST  0     1     동반자동반상황                          계속 함께 여행
     1     2     동반자동반상황                           여행 중 이탈
     2     3     동반자동반상황                           여행 중 합류
DGS  0     1  전반적 만족도 점수                            매우 불만족
     1     2  전반적 만족도 점수                               불만족
     2     3  전반적 만족도 점수                                보통
     3     4  전반적 만족도 점수                                만족
     4     5  전반적 만족도 점수                              매우만족
EDU  0     1        최종학력                                무학
     1     2        최종학력                              초등학교
     2     3        최종학력                               중학교
     3     4        최종학력                              고등학교
     4     5        최종학력                        대학(4년제 미만)
     5     6        최종학력                       대학교(4년제 이상)
     6     7        최종학력                         대학원 석사 과정
     7     8        최종학력                         대학원 박사 과정
EFS  0     1    최종학력이수여부                                졸업
     1     2    최종학력이수여부                                재학
     2     3    최종학력이수여부                                휴학
     3     4    최종학력이수여부                                중퇴
     4     5    최종학력이수여부                                수료
EXP  0     1    취식 지출 여부                        이 방문지에서 구매
     1     2    취식 지출 여부         이 방문지로 이동 중 구매/ 이 방문지로 배달
     2     3    취식 지출 여부            여행 출발 전 거주지 인근에서 미리 구매
     3     4    취식 지출 여부                       비용 발생하지 않음
GEN  0     1          성별                                남자
     1     2          성별                                여자
HTY  0     1        숙소유형                                호텔
     1     2        숙소유형                             모텔/여관
     2     3        숙소유형                                펜션
     3     4        숙소유형                         콘도미니엄/리조트
     4     5        숙소유형                       야영(캠핑,글램핑등)
     5     6        숙소유형                           전통 숙박시설
     6     7        숙소유형                            게스트하우스
     7     8        숙소유형                                민박
     8     9        숙소유형                         자연휴양림내 시설
     9    10        숙소유형                            가족/친지집
     10   11        숙소유형                                기타
     11   12        숙소유형                             무박 여행
INC  0     1          소득                             소득없음
     1     2          소득                      월평균 100만원 미만
     2     3          소득              월평균 100만원 ~ 200만원 미만
     3     4          소득              월평균 200만원 ~ 300만원 미만
     4     5          소득              월평균 300만원 ~ 400만원 미만
     5     6          소득              월평균 400만원 ~ 500만원 미만
     6     7          소득              월평균 500만원 ~ 600만원 미만
     7     8          소득              월평균 600만원 ~ 700만원 미만
     8     9          소득              월평균 700만원 ~ 800만원 미만
     9    10          소득              월평균 800만원 ~ 900만원 미만
     10   11          소득            월평균 900만원 ~ 1,000만원 미만
     11   12          소득                    월평균 1,000만원 이상
JOB  0     1          직업                               관리자
     1     2          직업                      전문가 및 관련 종사자
     2     3          직업                            사무 종사자
     3     4          직업                           서비스 종사자
     4     5          직업                            판매 종사자
     5     6          직업                       농림어업 숙련 종사자
     6     7          직업                   기능원 및 관련 기능 종사자
     7     8          직업                 장치․기계 조작 및 조립 종사자
     8     9          직업                           단순노무종사자
     9    10          직업                                군인
     10   11          직업                              전업주부
     11   12          직업                                학생
     12   13          직업                                기타
JOE  0     1        직업기타                              전업주부
     1     2        직업기타                                학생
     2     3        직업기타                                기타
MAR  0     1        혼인상태                                미혼
     1     2        혼인상태                                기혼
     2     3        혼인상태                                사별
     3     4        혼인상태                                이혼
     4     5        혼인상태                                기타
MET  0     N  메타데이터 진행상태                          사진 업로드 전
     1     C  메타데이터 진행상태                           승인 진행 중
     2     Y  메타데이터 진행상태                             승인 완료
     3     D  메타데이터 진행상태                             승인 거절
MIS  0     1          미션                                쇼핑
     1     2          미션              테마파크, 놀이시설, 동/식물원 방문
     2     3          미션                         역사 유적지 방문
     3     4          미션                              시티투어
     4     5          미션                    야외 스포츠, 레포츠 활동
     5     6          미션                지역 문화예술/공연/전시시설 관람
     6     7          미션                     유흥/오락(나이트라이프)
     7     8          미션                                캠핑
     8     9          미션                      지역 축제/이벤트 참가
     9    10          미션                             온천/스파
     10   11          미션                     교육/체험 프로그램 참가
     11   12          미션                        드라마 촬영지 방문
     12   13          미션                          종교/성지 순례
     13   21          미션                      Well-ness 여행
     14   22          미션                        SNS 인생샷 여행
     15   23          미션                            호캉스 여행
     16   24          미션                         신규 여행지 발굴
     17   25          미션                        반려동물 동반 여행
     18   26          미션                     인플루언서 따라하기 여행
     19   27          미션                    친환경 여행(플로깅 여행)
     20   28          미션                             등반 여행
MOV  0     1     주요 이동수단                  자가용(승용/승합/트럭 등등)
     1     2     주요 이동수단                  렌터카(승용/승합/버스 등등)
     2     3     주요 이동수단                      캠핑카(자차 및 렌탈)
     3     4     주요 이동수단                                택시
     4     5     주요 이동수단                               지하철
     5     6     주요 이동수단                       고속전철(ITX 등)
     6     7     주요 이동수단                     KTX/SRT(고속열차)
     7     8     주요 이동수단                         새마을/무궁화열차
     8     9     주요 이동수단                               항공기
     9    10     주요 이동수단                              배/선박
     10   11     주요 이동수단                              관광버스
     11   12     주요 이동수단                           시외/고속버스
     12   13     주요 이동수단                           시내/마을버스
     13   14     주요 이동수단                               자전거
     14   15     주요 이동수단                                도보
     15   16     주요 이동수단                                기타
     16   50     주요 이동수단                          버스 + 지하철
PAY  0     1       결제 방식                            카드 일시불
     1     2       결제 방식                             카드 할부
     2     3       결제 방식                                현금
     3     4       결제 방식                                기타
     4     5       결제 방식                              계좌이체
REC  0     1     추천의향 점수                         전혀 그렇지 않다
     1     2     추천의향 점수                            그렇지 않다
     2     3     추천의향 점수                                보통
     3     4     추천의향 점수                               그렇다
     4     5     추천의향 점수                            매우 그렇다
REN  0     1      방문선택이유                      지명도/명소/핫플레이스
     1     2      방문선택이유           온라인(SNS, 블로그 등) 평가가 좋아서
     2     3      방문선택이유         미디어(TV 정보 프로그램 등) 평가가 좋아서
     3     4      방문선택이유                        과거 경험이 좋아서
     4     5      방문선택이유                       지인의 추천이 있어서
     5     6      방문선택이유                    가기 편해서/교통이 좋아서
     6     7      방문선택이유                     편의시설/서비스가 좋아서
     7     8      방문선택이유                          가성비가 좋아서
     8     9      방문선택이유                          지나가다 우연히
     9    10      방문선택이유                          교육성이 좋아서
     10   11      방문선택이유                                기타
REP  0     1   재방문 의향 점수                         전혀 그렇지 않다
     1     2   재방문 의향 점수                            그렇지 않다
     2     3   재방문 의향 점수                                보통
     3     4   재방문 의향 점수                               그렇다
     4     5   재방문 의향 점수                            매우 그렇다
REV  0     1       재방문여부                             처음 방문
     1     2       재방문여부                               재방문
STA  0    11        여행상태                            최초 로그인
     1    12        여행상태                        테스트 사진 업로드
     2    13        여행상태                         예정여행지변경신청
     3    14        여행상태                         예정여행지변경승인
     4    20        여행상태                              여행 중
     5    30        여행상태                         여행 후(기록전)
     6    40        여행상태                        여행 기록 입력 중
     7    50        여행상태                       여행 기록 입력 완료
     8    60        여행상태                       여행 기록 보완 요청
     9    70        여행상태                       여행 기록 보완 완료
TAR  0   A01        여행권역                                서울
     1   A02        여행권역                                인천
     2   A03        여행권역                                경기
     3   B01        여행권역                                강원
     4   B02        여행권역                                대구
     5   B03        여행권역                                경북
     6   B04        여행권역                                부산
     7   B05        여행권역                                울산
     8   B06        여행권역                                경남
     9   C01        여행권역                                광주
     10  C02        여행권역                                전북
     11  C03        여행권역                                전남
     12  C04        여행권역                                대전
     13  C05        여행권역                                충북
     14  C06        여행권역                                충남
     15  C07        여행권역                                세종
     16  D01        여행권역                                제주
     17  D02        여행권역                              도서지역
TCR  0     1     여행동반자관계                               배우자
     1     2     여행동반자관계                                자녀
     2     3     여행동반자관계                                부모
     3     4     여행동반자관계                               조부모
     4     5     여행동반자관계                             형제/자매
     5     6     여행동반자관계                               친인척
     6     7     여행동반자관계                                친구
     7     8     여행동반자관계                                연인
     8     9     여행동반자관계                                동료
     9    10     여행동반자관계             친목 단체/모임(동호회, 종교단체 등)
     10   11     여행동반자관계                                기타
TMT  0     1        여행동기        일상적인 환경 및 역할에서의 탈출, 지루함 탈피
     1     2        여행동기     쉴 수 있는 기회, 육체 피로 해결 및 정신적인 휴식
     2     3        여행동기             여행 동반자와의 친밀감 및 유대감 증진
     3     4        여행동기       진정한 자아 찾기 또는 자신을 되돌아볼 기회 찾기
     4     5        여행동기                    SNS 사진 등록 등 과시
     5     6        여행동기                    운동, 건강 증진 및 충전
     6     7        여행동기                         새로운 경험 추구
     7     8        여행동기            역사 탐방, 문화적 경험 등 교육적 동기
     8     9        여행동기  특별한 목적(칠순여행, 신혼여행, 수학여행, 인센티브여행)
     9    10        여행동기                                기타
TSY  0     1       여행스타일                        자연 선호 매우선호
     1     2       여행스타일                        자연 선호 중간선호
     2     3       여행스타일                        자연 선호 약간선호
     3     4       여행스타일                                중립
     4     5       여행스타일                        도시 선호 약간선호
     5     6       여행스타일                        도시 선호 중간선호
     6     7       여행스타일                        도시 선호 매우선호
TTM  0     1     여행빈도_기간                              1주일
     1     2     여행빈도_기간                                한달
     2     3     여행빈도_기간                                1년
     3     4     여행빈도_기간                                기타
VIS  0     1     방문지유형코드                             자연관광지
     1     2     방문지유형코드   역사/유적/종교 시설(문화재, 박물관, 촬영지, 절 등)
     2     3     방문지유형코드            문화 시설(공연장, 영화관, 전시관 등)
     3     4     방문지유형코드                상업지구(거리, 시장, 쇼핑시설)
     4     5     방문지유형코드        레저/스포츠 관련 시설(스키, 카트, 수상레저)
     5     6     방문지유형코드                  테마시설(놀이공원, 워터파크)
     6     7     방문지유형코드                        산책로, 둘레길 등
     7     8     방문지유형코드                          지역 축제/행사
     8     9     방문지유형코드                  역, 터미널, 고속도로 휴게소
     9    10     방문지유형코드                                상점
     10   11     방문지유형코드                             식당/카페
     11   12     방문지유형코드                                기타
     12   21     방문지유형코드                                 집
     13   22     방문지유형코드                            친구/친지집
     14   23     방문지유형코드                               사무실
     15   24     방문지유형코드                                숙소
     16   13     방문지유형코드                         체험 활동 관광지

- code_a와 code_b를 병합하고 `code_a`를 기준으로 필요컬럼만 group by 한 결과 각 코드의 쓰임새를 더 명확하게 파악할 수 있음.
- 가령 `VIS13` 이되면 여행객에 체험활동 관광지를 방문했다는 것이 됨.
- 하위에 기록할 다양한 데이터들의 상세 항목(카테고리인 경우) 위 데이터셋을 통해 대략적인 내용 파악이 가능함.

---

## 시군구코드

`tc_sgg_시군구코드.csv`

- 데이터활용 가이드라인에 명시된 `TC_SGG` 라는 테이블이 여기에 해당

![](https://i.imgur.com/P5jhfQx.png)
![](https://i.imgur.com/P7kYtHf.png)

In [7]:
TC_SGG = pd.read_csv(
    'data/travel_log/TL_csv/tc_sgg_시군구코드.csv', encoding='utf-8')


display(TC_SGG.info())

TC_SGG.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8075 entries, 0 to 8074
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   SGG_CD   8075 non-null   int64
 1   SGG_CD1  8075 non-null   int64
 2   SGG_CD2  8058 non-null   float64
 3   SGG_CD3  7808 non-null   float64
 4   SGG_CD4  7808 non-null   float64
 5   SIDO_NM  8075 non-null   object
 6   SGG_NM   8025 non-null   object
 7   DONG_NM  7808 non-null   object
 8   RI_NM    2748 non-null   object
dtypes: float64(3), int64(2), object(4)
memory usage: 567.9+ KB

None

       SGG_CD  SGG_CD1  SGG_CD2  SGG_CD3  SGG_CD4 SIDO_NM SGG_NM DONG_NM RI_NM
0  1100000000       11      NaN      NaN      NaN   서울특별시    NaN     NaN   NaN
1  1111000000       11    110.0      NaN      NaN   서울특별시    종로구     NaN   NaN
2  1111010100       11    110.0    101.0      0.0   서울특별시    종로구     청운동   NaN
3  1111010200       11    110.0    102.0      0.0   서울특별시    종로구     신교동   NaN
4  1111010300       11    110.0    103.0      0.0   서울특별시    종로구     궁정동   NaN

- 통상적인 행정구역 데이터에 대한 체계를 볼때 위 데이터는 각 행정구역을 구분하기 위한 고유 코드
- SGG_CD : 시군구 전체 코드, 총 10자리로 구성되며, SGG_CD1~4의 조합 결과임

  - SGG_CD1 : '시/도' 를 구분하는 코드 2자리로 구성
  - SGG_CD2 : '시군구' 를 구분하는 코드 3자리로 구성
  - SGG_CD3 : '읍면동' 을 구분하는 코드 3자리로 구성
  - SGG_CD4 : '리' 를 구분하는 코드 2자리로 구성

- 그 외 SIDO_NM등은 직관적으로 알 수 있듯이 각 행정구역명을 4개의 단위로 나눈 것
- 이 데이터는 모든 행이 고유값으로 구성되어 있음

---

## 여행객 Master

`tn_traveller_master_여행객 Master_D.csv`

- 데이터활용 가이드라인에 명시된 `TN_TRAVELLER_MASTER` 라는 테이블이 여기에 해당

![](https://i.imgur.com/2dEDL24.png)
![](https://i.imgur.com/iOXVTUs.png)

In [8]:
TN_TRAVELLER_MASTER = pd.read_csv(
    'data/travel_log/TL_csv/tn_traveller_master_여행객 Master_D.csv', encoding='utf-8')

display(TN_TRAVELLER_MASTER.info())

TN_TRAVELLER_MASTER.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3200 entries, 0 to 3199
Data columns (total 36 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   TRAVELER_ID                3200 non-null   object
 1   RESIDENCE_SGG_CD           3200 non-null   int64
 2   GENDER                     3200 non-null   object
 3   AGE_GRP                    3200 non-null   int64
 4   EDU_NM                     3200 non-null   int64
 5   EDU_FNSH_SE                3200 non-null   int64
 6   MARR_STTS                  3200 non-null   int64
 7   FAMILY_MEMB                3200 non-null   int64
 8   JOB_NM                     3083 non-null   float64
 9   JOB_ETC                    117 non-null    float64
 10  INCOME                     3200 non-null   int64
 11  HOUSE_INCOME               2332 non-null   float64
 12  TRAVEL_TERM                3200 non-null   int64
 13  TRAVEL_NUM                 3200 non-null   int64
 14  TRAVEL_LIKE_SIDO_1         3200 non-null   int64
 15  TRAVEL_LIKE_SGG_1          3200 non-null   int64
 16  TRAVEL_LIKE_SIDO_2         3200 non-null   int64
 17  TRAVEL_LIKE_SGG_2          3200 non-null   int64
 18  TRAVEL_LIKE_SIDO_3         3200 non-null   int64
 19  TRAVEL_LIKE_SGG_3          3200 non-null   int64
 20  TRAVEL_STYL_1              3200 non-null   int64
 21  TRAVEL_STYL_2              3200 non-null   int64
 22  TRAVEL_STYL_3              3200 non-null   int64
 23  TRAVEL_STYL_4              3200 non-null   int64
 24  TRAVEL_STYL_5              3200 non-null   int64
 25  TRAVEL_STYL_6              3200 non-null   int64
 26  TRAVEL_STYL_7              3200 non-null   int64
 27  TRAVEL_STYL_8              3200 non-null   int64
 28  TRAVEL_STATUS_RESIDENCE    3200 non-null   object
 29  TRAVEL_STATUS_DESTINATION  3200 non-null   object
 30  TRAVEL_STATUS_ACCOMPANY    3200 non-null   object
 31  TRAVEL_STATUS_YMD          3200 non-null   object
 32  TRAVEL_MOTIVE_1            3200 non-null   int64
 33  TRAVEL_MOTIVE_2            3113 non-null   float64
 34  TRAVEL_MOTIVE_3            2992 non-null   float64
 35  TRAVEL_COMPANIONS_NUM      3200 non-null   int64
dtypes: float64(5), int64(25), object(6)
memory usage: 900.1+ KB

None

,TRAVELER_ID,RESIDENCE_SGG_CD,GENDER,AGE_GRP,EDU_NM,EDU_FNSH_SE,MARR_STTS,FAMILY_MEMB,JOB_NM,JOB_ETC,INCOME,HOUSE_INCOME,TRAVEL_TERM,TRAVEL_NUM,TRAVEL_LIKE_SIDO_1,TRAVEL_LIKE_SGG_1,TRAVEL_LIKE_SIDO_2,TRAVEL_LIKE_SGG_2,TRAVEL_LIKE_SIDO_3,TRAVEL_LIKE_SGG_3,TRAVEL_STYL_1,TRAVEL_STYL_2,TRAVEL_STYL_3,TRAVEL_STYL_4,TRAVEL_STYL_5,TRAVEL_STYL_6,TRAVEL_STYL_7,TRAVEL_STYL_8,TRAVEL_STATUS_RESIDENCE,TRAVEL_STATUS_DESTINATION,TRAVEL_STATUS_ACCOMPANY,TRAVEL_STATUS_YMD,TRAVEL_MOTIVE_1,TRAVEL_MOTIVE_2,TRAVEL_MOTIVE_3,TRAVEL_COMPANIONS_NUM
0,b011774,31,여,30,6,1,1,1,3.0,NaN,4,NaN,2,1,50,50110,11,11620,26,26500,4,2,2,4,3,3,2,6,울산광역시,경남,2인 가족 여행,2022-10-25~2022-10-26,2,1.0,5.0,1
1,d009928,29,여,20,6,2,1,4,12.0,NaN,2,6.0,3,3,50,50110,26,26350,11,11680,6,1,2,3,1,6,1,7,광주광역시,제주,2인 여행(가족 외),2022-10-30~2022-11-01,2,1.0,5.0,1
2,d010131,26,남,20,7,2,1,1,12.0,NaN,3,NaN,4,2,31,31140,31,31110,11,11110,6,2,1,6,5,6,2,7,부산광역시,제주,나홀로 여행,2022-11-02~2022-11-04,5,2.0,10.0,0
3,d006004,50,여,20,6,1,1,1,3.0,NaN,4,NaN,2,2,11,11500,26,26350,50,50130,5,7,6,2,2,5,3,6,제주특별자치도,제주,2인 여행(가족 외),2022-10-30~2022-10-31,3,1.0,7.0,1
4,d002965,50,여,30,6,1,2,4,3.0,NaN,1,4.0,1,1,50,50130,27,27290,47,47110,1,7,1,1,7,7,1,4,제주특별자치도,제주,자녀 동반 여행,2022-10-08~2022-10-10,3,1.0,8.0,3

- 여행객 개인에 대한 기본적인 정보를 담고 있는 테이블
- 기억의지도로 친다면 개별 이용자의 데이터(신상정보 및 여행 취향정보)가 있는 User info 테이블
- 관심을 갖고 봐야할 컬럼은 `여행스타일` 과 `여행동기` 임
- 다른 신상 정보의 경우 `기억의 지도` 앱의 특성상 수집이 어려운 데이터들로 `해당 데이터에 치중한 모델을 만드는 것은 의미가 없다고 판단` 됨
- 실제 사용된 데이터의 상세 값을 확인해볼 필요 있음

In [9]:
traveler_info = basic_code.loc[['EDU', 'EFS',
                                'MAR', 'JOB', 'JOE', 'INC', 'TTM', 'TSY', 'TMT']]
traveler_info

        cd_b code_nm_a                         code_nm_b
cd_a
EDU  0     1      최종학력                                무학
     1     2      최종학력                              초등학교
     2     3      최종학력                               중학교
     3     4      최종학력                              고등학교
     4     5      최종학력                        대학(4년제 미만)
     5     6      최종학력                       대학교(4년제 이상)
     6     7      최종학력                         대학원 석사 과정
     7     8      최종학력                         대학원 박사 과정
EFS  0     1  최종학력이수여부                                졸업
     1     2  최종학력이수여부                                재학
     2     3  최종학력이수여부                                휴학
     3     4  최종학력이수여부                                중퇴
     4     5  최종학력이수여부                                수료
MAR  0     1      혼인상태                                미혼
     1     2      혼인상태                                기혼
     2     3      혼인상태                                사별
     3     4      혼인상태                                이혼
     4     5      혼인상태                                기타
JOB  0     1        직업                               관리자
     1     2        직업                      전문가 및 관련 종사자
     2     3        직업                            사무 종사자
     3     4        직업                           서비스 종사자
     4     5        직업                            판매 종사자
     5     6        직업                       농림어업 숙련 종사자
     6     7        직업                   기능원 및 관련 기능 종사자
     7     8        직업                 장치․기계 조작 및 조립 종사자
     8     9        직업                           단순노무종사자
     9    10        직업                                군인
     10   11        직업                              전업주부
     11   12        직업                                학생
     12   13        직업                                기타
JOE  0     1      직업기타                              전업주부
     1     2      직업기타                                학생
     2     3      직업기타                                기타
INC  0     1        소득                             소득없음
     1     2        소득                      월평균 100만원 미만
     2     3        소득              월평균 100만원 ~ 200만원 미만
     3     4        소득              월평균 200만원 ~ 300만원 미만
     4     5        소득              월평균 300만원 ~ 400만원 미만
     5     6        소득              월평균 400만원 ~ 500만원 미만
     6     7        소득              월평균 500만원 ~ 600만원 미만
     7     8        소득              월평균 600만원 ~ 700만원 미만
     8     9        소득              월평균 700만원 ~ 800만원 미만
     9    10        소득              월평균 800만원 ~ 900만원 미만
     10   11        소득            월평균 900만원 ~ 1,000만원 미만
     11   12        소득                    월평균 1,000만원 이상
TTM  0     1   여행빈도_기간                              1주일
     1     2   여행빈도_기간                                한달
     2     3   여행빈도_기간                                1년
     3     4   여행빈도_기간                                기타
TSY  0     1     여행스타일                        자연 선호 매우선호
     1     2     여행스타일                        자연 선호 중간선호
     2     3     여행스타일                        자연 선호 약간선호
     3     4     여행스타일                                중립
     4     5     여행스타일                        도시 선호 약간선호
     5     6     여행스타일                        도시 선호 중간선호
     6     7     여행스타일                        도시 선호 매우선호
TMT  0     1      여행동기        일상적인 환경 및 역할에서의 탈출, 지루함 탈피
     1     2      여행동기     쉴 수 있는 기회, 육체 피로 해결 및 정신적인 휴식
     2     3      여행동기             여행 동반자와의 친밀감 및 유대감 증진
     3     4      여행동기       진정한 자아 찾기 또는 자신을 되돌아볼 기회 찾기
     4     5      여행동기                    SNS 사진 등록 등 과시
     5     6      여행동기                    운동, 건강 증진 및 충전
     6     7      여행동기                         새로운 경험 추구
     7     8      여행동기            역사 탐방, 문화적 경험 등 교육적 동기
     8     9      여행동기  특별한 목적(칠순여행, 신혼여행, 수학여행, 인센티브여행)
     9    10      여행동기                                기타

- 위에서 예상한대로 소득등 개인신상과 관련된 정보는 사용하지 않는 것이 좋다고 생각 됨(이유 동일)
  - 성별, 연령 등은 수집 및 활용 가능
- 데이터의 상세 내용을 보았을때 `여행스타일` 은 수집된 데이터를 활용할 수 있을 것으로 생각됨
- 다만 이 데이터를 더미 데이터로 하여 추천 모델을 만든 뒤 `기억의 지도`에서 서빙 할 때, 이 데이터를 `사용자로 부터 직접 수집`할 것인지 `누적된 사용자의 여행 기록을 기반으로 추론하여 생성`할 것인지는 고민해볼 여지가 있음
  - 개인적(gabe)으론 **앱의 특성상 사용자가 입력한 정보(이미지에서 추출한 장소 정보)를 기반으로 추론하여 생상하는 것이 적합하다 생각함.**

---

## POI Master

`tn_poi_master_POIMaster.csv`

- 데이터활용 가이드라인에 명시된 `TN_POI_MASTER` 라는 테이블이 여기에 해당
- 일반적으로 위치기반 서비스, 지리정보 시스템 등의 데이터셋에서 POI는 `Point of Interest`의 약어로 특정 위치에 대한 관심지점을 의미
  - 이 데이터셋의 경우 특정장소, 시설에 대한 정보를 말함
  - 데이터 설명 내역을 보 면 `국가관심지역정보 내 6개 업종(관광, 레저, 예술, 이벤트, 숙박, 음식)에 대한 POI정보` 라고 정의하고 있음
  - 즉, 여행자가 방문한 여행지내 업장의 모든 정보가 담겨있는 테이블임을 알 수 있음

![](https://i.imgur.com/ujGSS9P.png)
![](https://i.imgur.com/KbR9drE.png)

In [10]:
TN_POI_MASTER = pd.read_csv('data/travel_log/TL_csv/tn_poi_master_POIMaster.csv',
                            encoding='utf-8', nrows=10)  # 파일이 커서 10행만 불러오기

display(TN_POI_MASTER.info())

TN_POI_MASTER.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   POI_ID         10 non-null     object
 1   POI_NM         10 non-null     object
 2   BRNO           10 non-null     object
 3   SGG_CD         10 non-null     int64
 4   ROAD_NM_ADDR   0 non-null      float64
 5   LOTNO_ADDR     10 non-null     object
 6   ASORT_LCLASDC  0 non-null      float64
 7   ASORT_MLSFCDC  0 non-null      float64
 8   ASORT_SDASDC   0 non-null      float64
 9   X_COORD        10 non-null     float64
 10  Y_COORD        10 non-null     float64
 11  ROAD_NM_CD     10 non-null     object
 12  LOTNO_CD       10 non-null     int64
dtypes: float64(6), int64(2), object(5)
memory usage: 1.1+ KB

None

,POI_ID,POI_NM,BRNO,SGG_CD,ROAD_NM_ADDR,LOTNO_ADDR,ASORT_LCLASDC,ASORT_MLSFCDC,ASORT_SDASDC,X_COORD,Y_COORD,ROAD_NM_CD,LOTNO_CD
0,POI0100000000001X,장안평,,1123010600,NaN,서울특별시 동대문구 장안동 566 대,NaN,NaN,NaN,127.068515,37.563459,,1123010600105660000
1,POI0100000000002Y,육연평야,,4136025322,NaN,경기도 남양주시 진접읍 내각리 445-2답,NaN,NaN,NaN,127.168214,37.697096,,4136025322104450002
2,POI0100000000003Z,두평야,,4157025321,NaN,경기도 김포시 고촌읍 향산리 401 대,NaN,NaN,NaN,126.744188,37.624167,,4157025321104010000
3,POI01000000000040,우두평야,,4211011800,NaN,강원도 춘천시 우두동 1120 공,NaN,NaN,NaN,127.733450,37.910152,,4211011800111200000
4,POI01000000000051,예단평야,,4276033025,NaN,강원도 평창군 대화면 하안미리 1904답,NaN,NaN,NaN,128.431603,37.456985,,4276033025119040000

- 결론적으로 이 데이터는 **'지출을 추론' 하기 위한 목적의 데이터로 추천 모델에서는 사용하지 않을 데이터라 판단 됨**

---

# 여행 로그 데이터

- 기본적으로 `여행ID(TRAVEL_ID)` 컬럼값을 기반으로 연결되어 있음
- `여행ID`는 개개인의 관광객에 대한 고유 ID
- 가장 메인이 되는 데이터는 `여행` 테이블로 `TN_TRAVEL` 이라는 테이블로 등록되어 있음

**📌 여행로그 데이터셋에 포함된 `소비` 관련 정보는 `기억의 지도` 에 사용할 데이터가 아니므로 별도의 EDA를 진행하지 않았음**

---

## 여행

`tn_travel_여행_D.csv`

- 데이터활용 가이드라인에 명시된 `TN_TRAVEL` 이라는 테이블에 해당

![](https://i.imgur.com/YMtiU0B.png)
![](https://i.imgur.com/KCNLmdK.png)

---

- 이 데이터셋으로 만든 추천모델에서 사용한 `여행 행태별 페르소나`와 `여행 테마별 페르소나` 가 있음

<여행 행태별 페르소나>

![](https://i.imgur.com/rkgeWnz.png)

---

<여행 테마별 페르소나>

![](https://i.imgur.com/B20gqLF.png)

In [11]:
TN_TRAVEL = pd.read_csv(
    'data/travel_log/TL_csv/tn_travel_여행_D.csv', encoding='utf-8')

display(TN_TRAVEL.info())

TN_TRAVEL.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3200 entries, 0 to 3199
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   TRAVEL_ID             3200 non-null   object
 1   TRAVEL_NM             3200 non-null   object
 2   TRAVELER_ID           3200 non-null   object
 3   TRAVEL_PURPOSE        3200 non-null   object
 4   TRAVEL_START_YMD      3200 non-null   object
 5   TRAVEL_END_YMD        3200 non-null   object
 6   MVMN_NM               3063 non-null   object
 7   TRAVEL_PERSONA        870 non-null    object
 8   TRAVEL_MISSION        3200 non-null   object
 9   TRAVEL_MISSION_CHECK  3200 non-null   object
dtypes: object(10)
memory usage: 250.1+ KB

None

,TRAVEL_ID,TRAVEL_NM,TRAVELER_ID,TRAVEL_PURPOSE,TRAVEL_START_YMD,TRAVEL_END_YMD,MVMN_NM,TRAVEL_PERSONA,TRAVEL_MISSION,TRAVEL_MISSION_CHECK
0,b_b010312,D02,b010312,1;21;22;24;27;,2022-10-29,2022-10-31,대중교통 등,NaN,1;21;22;24;27;,21;22;26
1,b_b005266,D02,b005266,21;22;23;24;26;,2022-10-12,2022-10-14,자가용,NaN,21;22;23;24;26;,12;22;3
2,d_d000296,D01,d000296,2;,2022-08-18,2022-08-22,대중교통 등,40세 이상 자녀 동반 여행,2;,2;28;12
3,d_d002565,D01,d002565,22;23;,2022-10-29,2022-11-01,자가용,NaN,22;23;,22;23;2
4,d_d006390,D01,d006390,2;22;4;5;6;,2022-10-15,2022-10-19,대중교통 등,39세 이하 3인 이상 친구,2;22;4;5;6;,5;22;6

- `TRAVEL_ID`를 기준으로 각 여행객이 어떤 여행(`TRAVEL_NM`)에서 어떤 어떤 여행목적으로 언제부터 언제까지 어떤 이용수단을 활용해서 여행을 했는지를 파악할 수 있음
  - 여기서 말하는 페르소나는 `추천시스템 기획` 에 있어 핵심 개념중 하나로 특정 사용자(그룹)의 특성, 선호도, 행동 패턴 등을 대표하는 가상의 인물을 만드는 것을 의미
  - 이러한 페르소나가 있다면 개별 사용자(그룹)의 세부적인 특성과 선호를 파악해 더 정확한 개인화된 추천이 가능하며, 추천 알고리즘의 효율성이 증대될 수 있음
- 데이터 명세서를 참고해 볼 때 , `TRAVEL_PERSONA` 는 `여행 행태별 페르소나` 에 대한 값임을 알 수 있음
- `개별미션` 은 데이터 수집과정에서 페르소나 설정을 위해 추가 설정한 컬럼으로 데이터 수집에 참여한 여행객들에게 페르소나 별로 `미션` 을 부여했다고 함.
- `CODE_A` 의 `MIS`를 통해 해당 미션들이 무엇이었는지 확인할 수 있음

In [12]:
# cd_a가 'MIS'인 행들만 필터링하여 출력
mis_group = basic_code.loc['MIS']
mis_group

   cd_b code_nm_a             code_nm_b
0     1        미션                    쇼핑
1     2        미션  테마파크, 놀이시설, 동/식물원 방문
2     3        미션             역사 유적지 방문
3     4        미션                  시티투어
4     5        미션        야외 스포츠, 레포츠 활동
5     6        미션    지역 문화예술/공연/전시시설 관람
6     7        미션         유흥/오락(나이트라이프)
7     8        미션                    캠핑
8     9        미션          지역 축제/이벤트 참가
9    10        미션                 온천/스파
10   11        미션         교육/체험 프로그램 참가
11   12        미션            드라마 촬영지 방문
12   13        미션              종교/성지 순례
13   21        미션          Well-ness 여행
14   22        미션            SNS 인생샷 여행
15   23        미션                호캉스 여행
16   24        미션             신규 여행지 발굴
17   25        미션            반려동물 동반 여행
18   26        미션         인플루언서 따라하기 여행
19   27        미션        친환경 여행(플로깅 여행)
20   28        미션                 등반 여행

---

## 동반자정보

`tn_companion_info_동반자정보_D.csv`

- `여행` 에 등록된 `여행객`이 동반한 여행자에 대한 정보
- 데이터활용 가이드라인에 명시된 `TN_COMPANION_INFO` 라는 테이블에 해당

![](https://i.imgur.com/cfBQuVN.png)
![](https://i.imgur.com/CVR0oMk.png)

- `여행` 테이블의 `여행ID(TRAVEL_ID)`를 기준으로 연결 해야 함

In [13]:
TN_COMPANION_INFO = pd.read_csv(
    'data/travel_log/TL_csv/tn_companion_info_동반자정보_D.csv', encoding='utf-8')

display(TN_COMPANION_INFO.info())

TN_COMPANION_INFO.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4922 entries, 0 to 4921
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   COMPANION_SEQ        4922 non-null   int64
 1   TRAVEL_ID            4922 non-null   object
 2   REL_CD               4922 non-null   int64
 3   COMPANION_GENDER     4922 non-null   int64
 4   COMPANION_AGE_GRP    4922 non-null   int64
 5   COMPANION_SITUATION  4922 non-null   int64
dtypes: int64(5), object(1)
memory usage: 230.8+ KB

None

,COMPANION_SEQ,TRAVEL_ID,REL_CD,COMPANION_GENDER,COMPANION_AGE_GRP,COMPANION_SITUATION
0,1,a_a002792,1,2,4,1
1,1,d_d007844,7,2,4,1
2,4,d_d006063,3,2,8,1
3,1,d_d002910,1,2,5,1
4,1,d_d001678,2,2,3,3

- 동반자에 대한 정보는 아래의 데이터를 기준으로 파악 가능하며, Null값이 존재할 수 있음
  - 동반자 없는 경우 or 동반자는 있지만 데이터가 입력안된 경우

In [14]:
companion_group = basic_code.loc[['TCR', 'GEN', 'AGE', 'CST']]
companion_group

        cd_b code_nm_a              code_nm_b
cd_a
TCR  0     1   여행동반자관계                    배우자
     1     2   여행동반자관계                     자녀
     2     3   여행동반자관계                     부모
     3     4   여행동반자관계                    조부모
     4     5   여행동반자관계                  형제/자매
     5     6   여행동반자관계                    친인척
     6     7   여행동반자관계                     친구
     7     8   여행동반자관계                     연인
     8     9   여행동반자관계                     동료
     9    10   여행동반자관계  친목 단체/모임(동호회, 종교단체 등)
     10   11   여행동반자관계                     기타
GEN  0     1        성별                     남자
     1     2        성별                     여자
AGE  0     1    동반자연령대                  ~9세이하
     1     2    동반자연령대                    10대
     2     3    동반자연령대                    20대
     3     4    동반자연령대                    30대
     4     5    동반자연령대                    40대
     5     6    동반자연령대                    50대
     6     7    동반자연령대                    60대
     7     8    동반자연령대                  70세이상
CST  0     1   동반자동반상황               계속 함께 여행
     1     2   동반자동반상황                여행 중 이탈
     2     3   동반자동반상황                여행 중 합류

- 위 표를 기준으로 `a_a002792` 여행의 경우 동반자에 대해 파악해보자면 동반자는 여행자의 `배우자` 이며, 성별은 `여성`(여행자의 성별은 남자임을 유추 가능), 연령대는 `30대` 이며, 여행 내내 `함께 여행` 을 했음을 알 수 있습니다.
- 데이터셋의 페르소나를 고려하면 우리가 사용할 여지가 있고, 사용하면 좋은 데이터라 생각 됩니다.
- 다만, `기억의 지도` 의 경우 `나만의 여행지 추천` 이 핵심이다 보니 동반자를 고려할 경우 앱의 컨셉이나 추천 로직이 깨질 수 있어 사용 여부를 고려해 봐야 합니다.
  - 만약 더미데이터와 동일한 페르소나를 사용한다면 사용하기에 적합하고 유용한 데이터셋이라 생각됩니다.

---

## 이동

`tn_move_his_이동내역_D.csv`

- 여행객들의 활동 내용을 포함하고 있는 데이터 셋
- 데이터활용 가이드라인에 명시된 `TN_MOVE_HIS` 라는 테이블이 여기에 해당

![](https://i.imgur.com/M2Tvw8m.png)
![](https://i.imgur.com/kuhg1dx.png)

In [15]:
TN_MOVE_HIS = pd.read_csv(
    'data/travel_log/TL_csv/tn_move_his_이동내역_D.csv', encoding='utf-8')

display(TN_MOVE_HIS.info())

TN_MOVE_HIS.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62262 entries, 0 to 62261
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   TRAVEL_ID            62262 non-null  object
 1   TRIP_ID              62262 non-null  int64
 2   START_VISIT_AREA_ID  3260 non-null   float64
 3   END_VISIT_AREA_ID    59002 non-null  float64
 4   START_DT_MIN         3260 non-null   object
 5   END_DT_MIN           59002 non-null  object
 6   MVMN_CD_1            59002 non-null  float64
 7   MVMN_CD_2            7634 non-null   float64
dtypes: float64(4), int64(1), object(3)
memory usage: 3.8+ MB

None

,TRAVEL_ID,TRIP_ID,START_VISIT_AREA_ID,END_VISIT_AREA_ID,START_DT_MIN,END_DT_MIN,MVMN_CD_1,MVMN_CD_2
0,d_d005326,2210100002,NaN,2.210100e+09,NaN,2022-10-10 20:30:00.000,2.0,13.0
1,d_d010442,2211030001,NaN,2.211030e+09,NaN,2022-11-03 20:30:00.000,2.0,NaN
2,d_d001212,2209080004,NaN,2.209080e+09,NaN,2022-09-08 14:30:00.000,16.0,NaN
3,d_d010496,2211040005,NaN,2.211040e+09,NaN,2022-11-04 15:00:00.000,1.0,NaN
4,d_d002566,2210010010,NaN,2.210010e+09,NaN,2022-10-01 20:00:00.000,15.0,NaN

In [16]:
MOV_HIS_group = basic_code.loc['MOV']
MOV_HIS_group

   cd_b code_nm_a         code_nm_b
0     1   주요 이동수단  자가용(승용/승합/트럭 등등)
1     2   주요 이동수단  렌터카(승용/승합/버스 등등)
2     3   주요 이동수단      캠핑카(자차 및 렌탈)
3     4   주요 이동수단                택시
4     5   주요 이동수단               지하철
5     6   주요 이동수단       고속전철(ITX 등)
6     7   주요 이동수단     KTX/SRT(고속열차)
7     8   주요 이동수단         새마을/무궁화열차
8     9   주요 이동수단               항공기
9    10   주요 이동수단              배/선박
10   11   주요 이동수단              관광버스
11   12   주요 이동수단           시외/고속버스
12   13   주요 이동수단           시내/마을버스
13   14   주요 이동수단               자전거
14   15   주요 이동수단                도보
15   16   주요 이동수단                기타
16   50   주요 이동수단          버스 + 지하철

- 한번의 여행에서 여행지간 `이동` 에 대한 데이터로 `기억의 지도` 에서 추천의 용도로 직접적으로 사용하기는 어려운 데이터라 생각됨
- 여행지간 최적동선 추천 기능을 넣는다고 해도 큰 의미가 없고(동선 추천은 보통 물리적 거리 기반), 사용자가 경험한 개별 여행을 누적해 데이터를 추춣나ㅡㄴ `기억의 지도` 특성상 사용 가능성이 거의 없음
- `여행 페르소나 추론` 을 위해 사용이 가능할 수는 있다고 생각 됨.

---

## 방문지 정보

`tn_visit_area_info_방문지정보_D.csv`

- 데이터활용 가이드라인에 명시된 `TN_VISIT_AREA_INFO` 라는 테이블이 여기에 해당

![](https://i.imgur.com/xJHT2La.png)
![](https://i.imgur.com/Bnmuql4.png)

In [17]:
TN_VISIT_AREA_INFO = pd.read_csv(
    'data/travel_log/TL_csv/tn_visit_area_info_방문지정보_D.csv', encoding='utf-8')

display(TN_VISIT_AREA_INFO.info())

TN_VISIT_AREA_INFO.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62272 entries, 0 to 62271
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   VISIT_AREA_ID        62272 non-null  int64
 1   TRAVEL_ID            62272 non-null  object
 2   VISIT_ORDER          62272 non-null  int64
 3   VISIT_AREA_NM        62272 non-null  object
 4   VISIT_START_YMD      62272 non-null  object
 5   VISIT_END_YMD        62272 non-null  object
 6   ROAD_NM_ADDR         46751 non-null  object
 7   LOTNO_ADDR           52691 non-null  object
 8   X_COORD              54508 non-null  object
 9   Y_COORD              54508 non-null  object
 10  ROAD_NM_CD           80 non-null     float64
 11  LOTNO_CD             2842 non-null   object
 12  POI_ID               22756 non-null  object
 13  POI_NM               22756 non-null  object
 14  RESIDENCE_TIME_MIN   59049 non-null  float64
 15  VISIT_AREA_TYPE_CD   62272 non-null  int64
 16  REVISIT_YN           55337 non-null  object
 17  VISIT_CHC_REASON_CD  55376 non-null  float64
 18  LODGING_TYPE_CD      8631 non-null   float64
 19  DGSTFN               55330 non-null  float64
 20  REVISIT_INTENTION    55330 non-null  float64
 21  RCMDTN_INTENTION     55330 non-null  float64
 22  SGG_CD               8124 non-null   float64
dtypes: float64(8), int64(3), object(12)
memory usage: 10.9+ MB

C:\Users\gabe\AppData\Local\Temp\ipykernel_50500\2620135674.py:1: DtypeWarning: Columns (8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  TN_VISIT_AREA_INFO = pd.read_csv(

None

,VISIT_AREA_ID,TRAVEL_ID,VISIT_ORDER,VISIT_AREA_NM,VISIT_START_YMD,VISIT_END_YMD,ROAD_NM_ADDR,LOTNO_ADDR,X_COORD,Y_COORD,ROAD_NM_CD,LOTNO_CD,POI_ID,POI_NM,RESIDENCE_TIME_MIN,VISIT_AREA_TYPE_CD,REVISIT_YN,VISIT_CHC_REASON_CD,LODGING_TYPE_CD,DGSTFN,REVISIT_INTENTION,RCMDTN_INTENTION,SGG_CD
0,2210210002,d_d006731,7,미스틱3도,2022-10-21,2022-10-21,제주특별자치도 제주시 1100로 2894-49,제주특별자치도 제주시 노형동 291-10,126.487556,33.449947,NaN,NaN,POI01000000EBRQLN,신비원(석부작돌공원),60.0,13,N,2.0,NaN,5.0,5.0,5.0,NaN
1,2210180004,d_d002613,3,에스제이렌트카,2022-10-18,2022-10-18,제주특별자치도 제주시 오일장중길 100,제주특별자치도 제주시 도두일동 1286-1,126.477007,33.498441,NaN,NaN,POI01000000B34XFQ,푸조렌트카,30.0,10,N,2.0,NaN,4.0,4.0,4.0,NaN
2,2209030004,d_d001011,20,루프탑정원,2022-09-03,2022-09-03,NaN,NaN,126.745408,33.28386,NaN,NaN,NaN,NaN,60.0,24,N,2.0,7.0,2.0,1.0,2.0,50130.0
3,2209170005,d_d001386,17,법환식당,2022-09-17,2022-09-17,제주특별자치도 서귀포시 이어도로 1046,제주특별자치도 서귀포시 서호동 128-7,126.522849,33.245022,NaN,NaN,NaN,NaN,30.0,11,N,9.0,NaN,5.0,4.0,5.0,NaN
4,2210090001,d_d002308,16,돌카롱 중문점,2022-10-09,2022-10-09,제주특별자치도 서귀포시 중문로41번길 8,제주특별자치도 서귀포시 중문동 1588-1,126.424303,33.255724,NaN,NaN,NaN,NaN,30.0,11,N,2.0,NaN,4.0,4.0,4.0,NaN

- 데이터셋이 한 여행객당 한번의 여행에서 데이터를 수집하다보니 `여행 순서` 에 대한 정보가 존재
- 해당 데이터가 결국 우리가 가장 필요한 `여행자가 방문한 관광지` 에 대한 정보 이므로 핵심 데이터셋이라 생각 됨

In [18]:
TRAVEL_VISIT_group = basic_code.loc[['VIS', 'REN', 'HTY', 'DGS', 'REP', 'REC']]
TRAVEL_VISIT_group

        cd_b   code_nm_a                        code_nm_b
cd_a
VIS  0     1     방문지유형코드                            자연관광지
     1     2     방문지유형코드  역사/유적/종교 시설(문화재, 박물관, 촬영지, 절 등)
     2     3     방문지유형코드           문화 시설(공연장, 영화관, 전시관 등)
     3     4     방문지유형코드               상업지구(거리, 시장, 쇼핑시설)
     4     5     방문지유형코드       레저/스포츠 관련 시설(스키, 카트, 수상레저)
     5     6     방문지유형코드                 테마시설(놀이공원, 워터파크)
     6     7     방문지유형코드                       산책로, 둘레길 등
     7     8     방문지유형코드                         지역 축제/행사
     8     9     방문지유형코드                 역, 터미널, 고속도로 휴게소
     9    10     방문지유형코드                               상점
     10   11     방문지유형코드                            식당/카페
     11   12     방문지유형코드                               기타
     12   21     방문지유형코드                                집
     13   22     방문지유형코드                           친구/친지집
     14   23     방문지유형코드                              사무실
     15   24     방문지유형코드                               숙소
     16   13     방문지유형코드                        체험 활동 관광지
REN  0     1      방문선택이유                     지명도/명소/핫플레이스
     1     2      방문선택이유          온라인(SNS, 블로그 등) 평가가 좋아서
     2     3      방문선택이유        미디어(TV 정보 프로그램 등) 평가가 좋아서
     3     4      방문선택이유                       과거 경험이 좋아서
     4     5      방문선택이유                      지인의 추천이 있어서
     5     6      방문선택이유                   가기 편해서/교통이 좋아서
     6     7      방문선택이유                    편의시설/서비스가 좋아서
     7     8      방문선택이유                         가성비가 좋아서
     8     9      방문선택이유                         지나가다 우연히
     9    10      방문선택이유                         교육성이 좋아서
     10   11      방문선택이유                               기타
HTY  0     1        숙소유형                               호텔
     1     2        숙소유형                            모텔/여관
     2     3        숙소유형                               펜션
     3     4        숙소유형                        콘도미니엄/리조트
     4     5        숙소유형                      야영(캠핑,글램핑등)
     5     6        숙소유형                          전통 숙박시설
     6     7        숙소유형                           게스트하우스
     7     8        숙소유형                               민박
     8     9        숙소유형                        자연휴양림내 시설
     9    10        숙소유형                           가족/친지집
     10   11        숙소유형                               기타
     11   12        숙소유형                            무박 여행
DGS  0     1  전반적 만족도 점수                           매우 불만족
     1     2  전반적 만족도 점수                              불만족
     2     3  전반적 만족도 점수                               보통
     3     4  전반적 만족도 점수                               만족
     4     5  전반적 만족도 점수                             매우만족
REP  0     1   재방문 의향 점수                        전혀 그렇지 않다
     1     2   재방문 의향 점수                           그렇지 않다
     2     3   재방문 의향 점수                               보통
     3     4   재방문 의향 점수                              그렇다
     4     5   재방문 의향 점수                           매우 그렇다
REC  0     1     추천의향 점수                        전혀 그렇지 않다
     1     2     추천의향 점수                           그렇지 않다
     2     3     추천의향 점수                               보통
     3     4     추천의향 점수                              그렇다
     4     5     추천의향 점수                           매우 그렇다

- 예상대로 관광지에 대한 개인의 선호 정보도 포함이 되어 있음
- 다만 `방문선택이유` 의 경우 어떤 식으로 활용할 지 고민해보면 좋을 것 같음
  - 페르소나의 일종으로 발굴하는 것도 가능해 보임(즉흥여행, 추천에 민감, 경험을 중시 등)
- 다만 `만족도` 점수는 `기억의 지도` 기획대로라면 `별점` 이 될것인데, `추천의향점수` 를 별도로 구하는것을 고려해야할지 고민되는 부분임
  - 두 지표는 사실상 같은 의미라 생각되는 것이 주된 이유
  - 다만, 데이터셋을 보면 두 데이터가 무조건 동일하지는 않음

---

## 관광사진

`tn_tour_photo_관광사진_D.csv`

- 데이터활용 가이드라인에 명시된 `TN_TOUR_PHOTO` 라는 테이블이 여기에 해당

![](https://i.imgur.com/3xJkCCT.png)
![](https://i.imgur.com/tAVzmDS.png)

In [19]:
TN_TOUR_PHOTO = pd.read_csv(
    'data/travel_log/TL_csv/tn_tour_photo_관광사진_D.csv', encoding='utf-8')

display(TN_TOUR_PHOTO.info())

TN_TOUR_PHOTO.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215726 entries, 0 to 215725
Data columns (total 11 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   TRAVEL_ID              215726 non-null  object
 1   VISIT_AREA_ID          215726 non-null  int64
 2   TOUR_PHOTO_SEQ         215726 non-null  int64
 3   PHOTO_FILE_ID          215726 non-null  object
 4   PHOTO_FILE_NM          215726 non-null  object
 5   PHOTO_FILE_FRMAT       215726 non-null  object
 6   PHOTO_FILE_DT          215726 non-null  object
 7   PHOTO_FILE_SAVE_PATH   215726 non-null  object
 8   PHOTO_FILE_RESOLUTION  215726 non-null  object
 9   PHOTO_FILE_X_COORD     215726 non-null  float64
 10  PHOTO_FILE_Y_COORD     215726 non-null  float64
dtypes: float64(2), int64(2), object(7)
memory usage: 18.1+ MB

None

,TRAVEL_ID,VISIT_AREA_ID,TOUR_PHOTO_SEQ,PHOTO_FILE_ID,PHOTO_FILE_NM,PHOTO_FILE_FRMAT,PHOTO_FILE_DT,PHOTO_FILE_SAVE_PATH,PHOTO_FILE_RESOLUTION,PHOTO_FILE_X_COORD,PHOTO_FILE_Y_COORD
0,c_c004244,2210030003,4,c00424402004p0005,c00424402004p0005.jpg,jpg,2022-10-03 13:00:39,/photo/,3024x4032,126.710865,35.988135
1,d_d006688,2210220001,11,d00668802002p0012,d00668802002p0012.jpg,jpg,2022-10-22 08:23:36,/photo/,2252x4000,126.564996,33.250023
2,d_d001454,2209170003,2,d00145402004p0003,d00145402004p0003.jpg,jpg,2022-09-17 16:14:18,/photo/,3024x4032,126.254761,33.380067
3,d_d003233,2210140003,3,d00323304004p0004,d00323304004p0004.jpg,jpg,2022-10-14 12:10:38,/photo/,3000x4000,126.623525,33.252224
4,d_d001499,2209200006,0,d00149901099p0001,d00149901099p0001.jpg,jpg,2022-09-20 20:31:23,/photo/,3024x4032,126.860414,33.523314

- 처음엔 사용하지 않아도될 데이터라 생각했는데, `유사 이미지 검색` 을 통한 관광지 찾기 성능 테스트를 위해 사용해도 좋을 것 같음.

---

# 어떤 데이터를 사용해야 할까

## AI Hub 데이터셋의 모델이 사용한 데이터

### 모델설명

- 여행지 추천 모델
- 활용 알고리즘 : Cat Boost
- 평가 지표 : Recall@R
- 여행객이 선호할만한 구체적 여행장소를 추천하는 알고리즘

![](https://i.imgur.com/S7TK3qZ.png)

### 알고리즘 선정 방법

- 모델 구축시 확장 가능성 및 모델 결과에 대한 분석을 고려해 딥러닝 기반모델보다는 Regression 기반의 모델을 사용함
- 2D Tensor에서 좋은 성능을 보이는 Random Forest, Cat Boost, LGBM, XGBoost 등을 테스트했고 가장 성능이 좋은 Cat Boost를 선정

### 검증 방법

- 추천 시스템에서 사용하는 '만족도 예측 모델` 의 성능을 검증하는 방식 사용
- 모델을 통해 사용자가 다녀온 여행지에 대한 만족도를 예측하고, 만족도가 가장 높은 상위 10개 방문지를 추출해 추천의 결과로 사용
- 해당 유저가 `만족` 이라 평가한 방문지 중 모델이 추천한 10개의 방문지가 몇개 포함되었는지 비율을 구해 `recall@10 (user)` 를 산출한뒤, 검증 데이터셋의 모든 유저에 대한 `recall@10 (user)` 값을 구해 두 값의 평균을 통해 최종 `recall@10` 값 산출

---

### 데이터셋

- 학습에 사용한 데이터의 feature들은 아래와 같음 (제공된 코드 기반)

  - SIDO
  - TRAVEL_MISSION_PRIORITY
  - GENDER
  - AGE_GRP
  - INCOME
  - TRAVEL_STYL_1 ~TRAVEL_STYL_8
  - TRAVEL_MOTIVE_1
  - TRAVEL_NUM
  - TRAVEL_COMPANIONS_NUM
  - RESIDENCE_TIME_NIN_mean
  - RCMDTN_INTENTION_MEAN
  - REVISIT_YN_mean
  - TRAVEL_COMPANIONS_NUM_mean
  - REVISIT_INTENTION_MEAN


- 그리고 최종 모델인 cat boost의 경우 범주형 데이터만 입력이 가능하므로 최종적으로 다음의 데이터들만 들어갈 수 있으므로 아래의 feature들이 입력되었습니다.
  - VISIT_AREA_NM
  - SIDO
  - GUNGU
  - VISIT_AREA_TYPE_CD
  - TRAVEL_MISSION_PRIORITY
  - AGE_GRP
  - GENDER

---

### 학습용 feature 구축 방안

- 모델 테스트에 사용된 최종 데이터셋을 만들기 위한 예제 코드
- 다만 `TRAVEL_MISSION_PRIORITY` 의 경우 어떤 로직으로 계산을 했는지 제공된 문서상으론 파악이 어렵습니다.
    - `TN_TRAVEL` 에서 `TRAVEL_MISSION` 을 분석해 특정 로직으로 우선순위를 정해야 합니다.
    - 가장 간단한 방법으로는 각 여행자별로 `1;21;22;24;27;` 같은 방식으로 여행 선호 정보가 입력되어 있습니다.
    - 이는 사용자가 과거에 했던 여행을 선택했던 이유를 표현한 것으로 보여집니다.
    - 따라서, 이 데이터를 분석해 사용자의 성향을 파악해 `TRAVEL_MISSION_PRIORITY` 로 입력하는 것이 가장 합리적이라 생각 됩니다.
    - 이러한 점을 고려할 때  아래의 2가지 방법이 가장 합리적이며 data-driven한 방법이라 생각 됩니다.

- 1. 데이터 분석을 통한 선호도 파악
    - 사용자가 과거에 선택한 여행 목적의 데이터를 분석하여, 가장 자주 선택되거나 평점이 높은 여행 목적을 우선순위로 설정하는 방법. 
    - 이는 사용자의 실제 행동 데이터를 반영하므로, 개인화된 추천에 유리합니다.

- 2. 여행 목적별 평균 평점 분석
    - 사용자 리뷰나 평점을 기반으로 각 여행 목적의 평균 평점을 계산하고, 이를 우선순위 결정의 기준으로 활용하는 방법. 
    - 이는 높은 평점을 받은 여행 목적을 우선적으로 추천하게 되어 여행자의 경험이 강하게 반영 됩니다.

- `TRAVEL_MISSION_PRIORITY`  를 제외한 다른 feature들의 경우 아래의 코드와 같이 생성이 가능합니다.

```python

import pandas as pd

# 원본 df에서 바로 찾을 수 있는 features
selected_columns = TN_TRAVELLER_MASTER[['GENDER', 'AGE_GRP', 'INCOME', 'TRAVEL_STYL_1', 'TRAVEL_STYL_2', 'TRAVEL_STYL_3', 'TRAVEL_STYL_4', 'TRAVEL_STYL_5', 'TRAVEL_STYL_6', 'TRAVEL_STYL_7', 'TRAVEL_STYL_8', 'TRAVEL_MOTIVE_1', 'TRAVEL_NUM', 'TRAVEL_COMPANIONS_NUM']]

# 별도의 계산이 필요한 features
# RESIDENCE_TIME_MIN_mean, RCMDTN_INTENTION_MEAN, REVISIT_YN_mean, REVISIT_INTENTION_MEAN 컬럼을 계산하기 위한 코드
# TN_VISIT_AREA_INFO 데이터셋에서 필요한 계산을 수행
TN_VISIT_AREA_INFO['REVISIT_YN_numeric'] = TN_VISIT_AREA_INFO['REVISIT_YN'].apply(lambda x: 1 if x == 'Y' else 0)

# 각 여행 ID별로 필요한 평균값을 계산합니다.
visit_area_aggregations = {
    'RESIDENCE_TIME_MIN': 'mean',
    'RCMDTN_INTENTION': 'mean',
    'REVISIT_YN_numeric': 'mean',
    'REVISIT_INTENTION': 'mean'
}
visit_area_means = TN_VISIT_AREA_INFO.groupby('TRAVEL_ID').agg(visit_area_aggregations).reset_index()
visit_area_means.rename(columns={'RESIDENCE_TIME_MIN': 'RESIDENCE_TIME_MIN_mean', 'RCMDTN_INTENTION': 'RCMDTN_INTENTION_MEAN', 'REVISIT_YN_numeric': 'REVISIT_YN_mean', 'REVISIT_INTENTION': 'REVISIT_INTENTION_MEAN'}, inplace=True)

# TRAVEL_COMPANIONS_NUM_mean 컬럼을 계산하기 위한 코드
# TN_COMPANION_INFO 데이터셋에서 각 여행 ID별로 동반자 수의 평균을 계산

companion_counts = TN_COMPANION_INFO.groupby('TRAVEL_ID').size().reset_index(name='TRAVEL_COMPANIONS_NUM_count')
companion_mean = companion_counts['TRAVEL_COMPANIONS_NUM_count'].mean()
TN_TRAVELLER_MASTER['TRAVEL_COMPANIONS_NUM_mean'] = companion_mean

merged_df = pd.merge(TN_TRAVEL, TN_VISIT_AREA_INFO, on='TRAVEL_ID', how='inner')
```

---

# 결론

- 전반적으로 여행 로그 데이터의 경우 단순히 추천시스템만을 만드는게 목적이 아닌, `고지출 관광객` 을 추론하는 모델을 만드는 것까지 고려한 데이터 수집이었으므로 추천 시스템 사용에 불필요한 데이터셋이 많이 포함되어 있습니다.
- 따라서 실제로 추천시스템의 더미데이터로서 사용가능한 데이터셋은 일부에 불과합니다.
    - `코드A`, `코드B`의 경우 실제 여행관련 데이터에 사용된 값들이 어떤 의미를 지니는지를 추론하기 위해 사용됩니다.
    - `여행객 Master`, `시군구코드`, `여행`, `동반자정보`, `방문지 정보` 는 실제 추천 시스템을 만들기 위한 더미 데이터로 활용 가능합니다.
    - `관광사진` 의 경우는 `유사 이미지 검색` 기능의 테스트를 위해 사용이 가능합니다.